<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.PopularGroupidMapper">

    <sql id="Base_Column_List">
        groupId
    </sql>
    <insert id="insertGroupId">
        insert into popular_groupId values (#{groupId})
    </insert>
    <delete id="deleteGroupId">
        delete
        from popular_groupId
        where groupId = #{groupId}
    </delete>
    <select id="getGroupIds" resultType="java.lang.String">
        select * from popular_groupId
    </select>


</mapper>
